.card{
    width: 18rem;
    padding: 0;
    margin: 0;
    display: flex;
}
.card-body{
    
    width: 200px;
    height: 200px;
    display:inline-block;

}
.container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}