#navbarNavAltMarkup{
    justify-content: center;
}
.navbar{
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.273);
}
.nav-link:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273); 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}
.nav-link{
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.tamañoImg{
    margin-left: 50px;
    height: 45px;
}

#logo {
    width: 80%;
    font-size: 30px;
    float: left;
    margin-top: 15px;
    color: black;
}
#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    animation: girar infinite 20s linear ;
    
}
@keyframes girar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
